header {
    background-image: url(./../img/articles/suzette/suzette-header.jpg);
}

.presentation {
    height: 20vh;
}

.presentation img {
    height: 20%;
    width: auto;
}

.letter::first-letter {
    font-size: 400%;
    color: grey;
    initial-letter: 2;
}

.comentary,
.comentaryGrey {
    width: 5rem;
    max-height: 80%;
    overflow: hidden;
}

.comentaryGrey {
    opacity: 50%;
}